<ion-content fullscreen="true" class="intro-page">
  <div class="intro-overlay">

    <img src="assets/logo-pontofacil.png" class="intro-logo" />
    <h1 class="intro-title">MEIRELES E FREITAS</h1>
    <p class="intro-subtitle">SERVIÇOS E COBRANÇAS</p>

    <ion-button expand="block" color="danger" class="intro-btn" (click)="irParaLogin()">
      ENTRAR
    </ion-button>


    <div class="intro-links">
      <p class="demo-link">Acessar Demonstração</p>
      <p class="admissao-label">É novo colaborador?</p>
      <ion-button fill="solid" color="light" size="small">Iniciar pré-admissão</ion-button>
    </div>

  </div>
</ion-content>
