<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ponto" href="/tabs/ponto">
      <ion-icon aria-hidden="true" name="time"></ion-icon>
      <ion-label>Ponto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="folha" href="/tabs/folha">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>Folha</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rh" href="/tabs/rh">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>RH</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestor" href="/tabs/gestor">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Gestor</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
