<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" style="text-align: center; padding: 20px">
    <h2 class="empresa-nome">
      IFTech Soluções<br>
      <span class="empresa-subtitulo">Tecnologia e Inovação em Software</span>
    </h2>

    <canvas #canvas style="margin: 20px auto; display: block;"></canvas>

    <h3 style="margin-top: 10px;">{{ usuario.nome }}</h3>
    <p>Matrícula: {{ usuario.matricula }}</p>

    <ion-button expand="block" color="danger" (click)="salvarQRCode()">
      Salvar Código
    </ion-button>
  </div>
</ion-content>
